.container_acceuil {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
    flex-wrap: wrap;
    align-items: center;
    height: 82vh;
}
.container_acceuil .acceuil_gauche {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-left: 6em;
    height: 48vh;
    flex-direction: column;
}
.container_acceuil .acceuil_gauche .acceuil_titre {
    width: 65%;
}
.container_acceuil .acceuil_gauche .lorem_titre {
    width: 90%;
    font-size: 14px;
}
.container_acceuil .acceuil_gauche .acceuil_titre h1 {
    font-size: 2.5rem;
    font-weight: bold;
}
.container_acceuil .acceuil_gauche .food {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container_acceuil .acceuil_gauche .food .food_explore {
    text-decoration: none;
    padding: 0.4em 1.1em;
    border-radius: 22px;
    color: black;
    font-weight: bold;
    background: #FBD146;
}
.container_acceuil .acceuil_gauche .food .food_watch {
    text-decoration: none;
    color: black;
}
.container_acceuil .acceuil_gauche .statistiques {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin-top: 1.2em;
}
.container_acceuil .acceuil_gauche .statistiques .user_photo {
    /* border: 1px solid; */
    width: 48%;
    display: flex;
    align-items: center;
}
.container_acceuil .acceuil_gauche .statistiques .user_photo .photo_profil {
    width: 30%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_acceuil .acceuil_gauche .statistiques .user_photo .photo_profil img {
    height: 90%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid white;
}
.container_acceuil .acceuil_droite {
    width: 32%;
    background: #69B984;
    height: 62vh;
    border-radius: 40px 0 0 40px;
    display: flex;
}
.plat_tomate {
    width: 20%;
    height: 40vh;
    position: absolute;
    left: 760px;
    top: 170px;
    z-index: 100;
}
.plat_tomate img {
    width: 100%;
    animation: rotate 15s infinite linear;
    height: 100%;
}
@keyframes rotate {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(360deg)
    }
  }
.container_acceuil .acceuil_droite .titre_grand {
    height: 100%;
    width: 35%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container_acceuil .acceuil_droite .titre_grand h1{
    transform: rotate(90deg);
    text-transform: uppercase;
    font-size: 6em;
    color: #F3D273;
}
.container_acceuil .acceuil_droite .center_plat {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container_acceuil .acceuil_droite .type_plat {
    /* border: 1px solid white; */
    width: 90%;
    display: flex;
    height: 70%;
    /* align-items: center; */
    justify-content: space-around;
    flex-direction: column;
}
.container_acceuil .acceuil_droite .type_plat .plat_liste {
    width: 60%;
    height: 7vh;
    background: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    justify-content: space-around;
}
.container_acceuil .acceuil_droite .type_plat .plat_liste .plate_liste_image {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
}
.container_acceuil .acceuil_droite .type_plat .plat_liste .plate_liste_image img {
    width: 100%;
    padding: 0.1em;
}
.container_acceuil .acceuil_droite .type_plat .plat_liste .plate_liste_text {
    width: 45%;
    /* border: 1px solid; */
}
.container_acceuil .ingredient {
    /* border: 1px solid; */
    width: 100%;
    margin-top: -2rem;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_acceuil .ingredient img
{
    width: 10%;
}
