header {
    height: 93vh;
    background: #FEF5E3;
    /* background: #ffffdd; */
    /* background: #fCF8E8; */
}
main {
    height: 100%;
    background: #FFFCF7;
}
footer {
    background: #FFFCF7;
    
}
