.container_temoignage {
    height: 64vh;
    background: #FEF5E3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
}
.container_temoignage .temoignage_resto {
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
}
.container_temoignage .temoignage_resto h2 {
    /* border: 1px solid; */
    width: 30%;
    font-size: 1.5em;
    text-align: center;
}
.container_temoignage .temoignage_div {
    display: flex;
    justify-content: space-around;
}
.container_temoignage .temoignage_div .temoignage_card {
    width: 30%;
    height: 35vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid gray;
    padding: 1em;
}
.container_temoignage .temoignage_div .temoignage_card .temoignage_text p {
    font-size: 14px;
}
.container_temoignage .temoignage_div .temoignage_card.active {
    background: white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border: none;
}
.container_temoignage .temoignage_div .temoignage_card .user_infos {
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    /* width: 70%; */
    justify-content: space-between;
}
.container_temoignage .temoignage_div .temoignage_card .user_infos .user_photo {
    width: 12.3%;
    height: 6.8vh;
    overflow: hidden;
}
.container_temoignage .temoignage_div .temoignage_card .user_infos .user_photo img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: fill;
}
.container_temoignage .temoignage_div .temoignage_card .user_infos .user_text {
    /* border: 1px solid; */
    height: 7vh;
    width: 82%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.container_temoignage .temoignage_div .temoignage_card .user_infos .user_text .nom {
    font-size: 16px;
    font-weight: 550;
}
.container_temoignage .temoignage_div .temoignage_card .user_infos .user_text .role {
    font-size: 12px;
}
.container_temoignage .fleche_container {
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_temoignage .fleche_container div {
    border: 1px solid #FBD146;
    width: 2.5%;
    height: 5vh;
    margin: 0 0.5em;
    border-radius: 50%;
}
.container_temoignage .fleche_container div .lien {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_temoignage .fleche_container .active {
    background: #FBD146;
    border: none;
}
.container_temoignage .fleche_container div .lien img {
    width: 50%;
    height: 50%;
}
.container_temoignage .fleche_container div .lien .droite {
    transform: rotate(180deg);
}
