.container_titre {
    display: flex;
    height: 22vh;
    justify-content: space-around;
    align-items: center;
}
.container_titre .titre_div {
    width: 60%;
}
.container_titre .titre_div h1 {
    font-size: 1.8em;
    font-weight: bold;
    padding-bottom: 0.2em;
}
.container_titre .titre_div p {
    font-size: 13px;
}
.container_titre .fleche {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container_titre .fleche div {
    width: 25%;
    height: 5vh;
    border-radius: 50%;
    border: 1px solid #FBD146;
}
.container_titre .fleche .active {
    background: #FBD146;
}
.container_titre .fleche div .clique {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
}
.container_titre .fleche div img {
    width: 60%;
}
.container_titre .fleche div .fleche_droite {
    transform: rotate(180deg);
}
